.flex-div{
    box-shadow: -10px 5px rgb(173, 173, 173);
    /* align-self: center; */
    margin:auto;
    border: 1px solid black;
    height: 520px;
    width: 260px;
    
}

.flex-img{
    margin: auto;
    background-color: rgba(30,144,255,.5);
}
.flex-div h2{
    color: rgba(0, 0, 0, .6);
    text-align: left;
    padding-left:20px;
}
.flex-div h3{
    text-align: left;
    color: rgba(20,20,20,.6);
    padding-left: 20px;
    font-size: 1.2rem;
}